* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: "Open Sans", sans-serif;
  color: #ffff;
}

.location {
  width: 50%;
  text-align: center;
}

h1 {
  font-size: 50px;
  letter-spacing: 4px;
}

h2 {
  font-size: 40px;
}

.temperature-description {
  padding-top: 20px;
  font-size: 20px;
  letter-spacing: 2px;
}

.weather-icon {
  animation: icon-float infinite 1.6s alternate;
}

@keyframes icon-float {
  0% {
    transform: translateY(10);
  }
  100% {
    transform: translateY(+12px);
  }
}
